<p-toolbar>
  <div class="p-toolbar-group-start">
    <h2 class="m-0 text-primary font-bold">App Gestión</h2>
  </div>

  <div class="p-toolbar-group-end gap-2">

    <div style="position: relative; display: inline-block;">
      <p-button label="Usuario" icon="pi pi-user" [text]="false" [rounded]="true" pTooltip="Ir a la Home del Usuario"
        tooltipPosition="bottom" (click)="goToUserHome()">
      </p-button>
      <p-button icon="pi pi-verified" [text]="true" [rounded]="true" pTooltip="Verificar Registros"
        tooltipPosition="bottom" (click)="irAValidaciones()">
      </p-button>

      <span class="custom-badge">{{ noValidadasCount }}</span>
    </div>

    <p-button icon="pi pi-sign-out" [text]="true" [rounded]="true" severity="danger" pTooltip="Cerrar Sesión"
      tooltipPosition="bottom" (click)="logout()">
    </p-button>

  </div>
</p-toolbar>